@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333; }

.header-area .menu-area nav ul li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
  background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%); }

/* Header Area Start */
.header-area {
  margin-top: 45px;
  background: #000; }
  .header-area .logo-area img {
    width: 100%; }
  .header-area .lang {
    color: #17d0cf;
    float: left;
    padding-left: 35px;
    padding-top: 15px; }
  .header-area .menu-area {
    margin-top: 8px; }
    .header-area .menu-area nav ul {
      margin: 0;
      padding: 0;
      float: right; }
      .header-area .menu-area nav ul li {
        list-style: none;
        display: inline-block;
        padding: 7px 15px;
        -webkit-transition: 3s;
        -o-transition: 3s;
        transition: 3s;
        border-radius: 5px; }
        .header-area .menu-area nav ul li a {
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        .header-area .menu-area nav ul li:hover {
          background-size: 200% auto;
          border-radius: 5px; }
  .header-area .login-area {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 0;
    margin-top: 8px; }
  .header-area .cart-search {
    margin-top: 7px; }
    .header-area .cart-search ul {
      margin: 0;
      padding: 0; }
      .header-area .cart-search ul li {
        list-style: none;
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 28px;
        text-align: center;
        border: 2px solid #17d0cf;
        border-radius: 50%;
        margin-right: 10px; }
        .header-area .cart-search ul li a {
          color: #fff; }
