@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333; }

.header-area .menu-area nav ul li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
  background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%); }

/* Header Area Start */
.header-area {
  position: relative;
  z-index: 1;
  margin-top: 45px; }
  .header-area .logo-area img {
    width: 100%; }
  .header-area .lang {
    color: #17d0cf;
    float: left;
    padding-left: 35px;
    padding-top: 10px; }
  .header-area .menu-area {
    margin-top: 2px; }
    .header-area .menu-area nav ul {
      margin: 0;
      padding: 0;
      float: right; }
      .header-area .menu-area nav ul li {
        list-style: none;
        display: inline-block;
        -webkit-transition: 3s;
        -o-transition: 3s;
        transition: 3s;
        padding: 7px 15px;
        border-radius: 5px;
        position: relative; }
        .header-area .menu-area nav ul li a {
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase; }
        .header-area .menu-area nav ul li ul.sub-menu {
          position: absolute;
          width: 300px;
          background: #fff;
          padding: 30px;
          left: -100px;
          top: 35px;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          -webkit-transform: scaleY(0);
          -ms-transform: scaleY(0);
          transform: scaleY(0);
          display: table;
          -webkit-transform-origin: center top 0;
          -ms-transform-origin: center top 0;
          transform-origin: center top 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .header-area .menu-area nav ul li ul.sub-menu::before {
            position: absolute;
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #01a6fd;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 20px; }
          .header-area .menu-area nav ul li ul.sub-menu li {
            display: block;
            text-align: left;
            border-bottom: 1px solid #eeeeee; }
            .header-area .menu-area nav ul li ul.sub-menu li:last-child {
              border: none; }
            .header-area .menu-area nav ul li ul.sub-menu li:hover {
              background: transparent; }
            .header-area .menu-area nav ul li ul.sub-menu li a {
              color: #333333;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              .header-area .menu-area nav ul li ul.sub-menu li a:hover {
                color: #17d0cf; }
        .header-area .menu-area nav ul li:hover {
          background-size: 200% auto; }
          .header-area .menu-area nav ul li:hover ul.sub-menu {
            opacity: 1;
            visibility: visible;
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1); }
  .header-area .login-area {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 0;
    margin-top: 2px; }
  .header-area .cart-search {
    margin-top: 4px; }
    .header-area .cart-search ul {
      margin: 0;
      padding: 0; }
      .header-area .cart-search ul li {
        list-style: none;
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 28px;
        text-align: center;
        border: 2px solid #17d0cf;
        border-radius: 50%;
        margin-right: 10px; }
        .header-area .cart-search ul li a {
          color: #fff; }

/*==================== Slider Area ===================*/
.slider-area {
  position: absolute;
  top: 0;
  width: 100%; }
