@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333; }

.header-area .menu-area nav ul li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
  background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%); }

.slider-area .single-slider .slider-content p {
  color: #cccccc;
  letter-spacing: 7px;
  position: relative; }

.slider-area .single-slider .slider-content p::after {
  position: absolute;
  content: '.';
  color: #17d0cf;
  font-size: 70px;
  line-height: 0;
  top: -11px;
  text-shadow: 15px 0 #17d0cf; }

.slider-area .single-slider .slider-content p::before {
  position: absolute;
  content: '.';
  color: #17d0cf;
  font-size: 70px;
  line-height: 0;
  top: -11px;
  left: -40px;
  text-shadow: 15px 0 #17d0cf; }

.slider-area .single-slider .slider-content h2 {
  font-size: 90px;
  color: #ffffff;
  font-weight: 100; }

.slider-area .owl-nav button {
  position: absolute;
  top: 50%;
  font-size: 22px !important;
  width: 60px;
  height: 60px;
  background: #f7f7f7 !important;
  color: #777777 !important;
  border-radius: 5px;
  margin: 0 50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Header Area Start */
.header-area {
  position: relative;
  z-index: 9999;
  margin-top: 45px; }
  .header-area .logo-area img {
    width: 100%; }
  .header-area .lang {
    color: #17d0cf;
    float: left;
    padding-left: 35px;
    padding-top: 10px; }
  .header-area .menu-area {
    margin-top: 2px; }
    .header-area .menu-area nav ul {
      margin: 0;
      padding: 0;
      float: right; }
      .header-area .menu-area nav ul li {
        list-style: none;
        display: inline-block;
        -webkit-transition: 3s;
        -o-transition: 3s;
        transition: 3s;
        padding: 7px 15px;
        border-radius: 5px;
        position: relative; }
        .header-area .menu-area nav ul li a {
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase; }
        .header-area .menu-area nav ul li ul.sub-menu {
          position: absolute;
          width: 300px;
          background: #fff;
          padding: 30px;
          left: -100px;
          top: 35px;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          -webkit-transform: scaleY(0);
          -ms-transform: scaleY(0);
          transform: scaleY(0);
          display: table;
          -webkit-transform-origin: center top 0;
          -ms-transform-origin: center top 0;
          transform-origin: center top 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .header-area .menu-area nav ul li ul.sub-menu::before {
            position: absolute;
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #01a6fd;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 20px; }
          .header-area .menu-area nav ul li ul.sub-menu li {
            display: block;
            text-align: left;
            border-bottom: 1px solid #eeeeee; }
            .header-area .menu-area nav ul li ul.sub-menu li:last-child {
              border: none; }
            .header-area .menu-area nav ul li ul.sub-menu li:hover {
              background: transparent; }
            .header-area .menu-area nav ul li ul.sub-menu li a {
              color: #333333;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              .header-area .menu-area nav ul li ul.sub-menu li a:hover {
                color: #17d0cf; }
        .header-area .menu-area nav ul li:hover {
          background-size: 200% auto; }
          .header-area .menu-area nav ul li:hover ul.sub-menu {
            opacity: 1;
            visibility: visible;
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1); }
  .header-area .login-area {
    padding: 7px 0;
    margin-top: 2px; }
    .header-area .login-area a {
      color: #fff;
      font-size: 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500; }
  .header-area .cart-search {
    margin-top: 4px; }
    .header-area .cart-search ul {
      margin: 0;
      padding: 0; }
      .header-area .cart-search ul li {
        list-style: none;
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 28px;
        text-align: center;
        border: 2px solid #17d0cf;
        border-radius: 50%;
        margin-right: 10px; }
        .header-area .cart-search ul li a {
          color: #fff; }

/*==================== Slider Area ===================*/
.slider-area {
  position: relative;
  top: -90px;
  width: 100%; }
  .slider-area .single-slider {
    position: relative; }
    .slider-area .single-slider .slider-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0; }
      .slider-area .single-slider .slider-content p {
        display: inline-block; }
      .slider-area .single-slider .slider-content h2 span {
        font-weight: 700; }
      .slider-area .single-slider .slider-content a {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        border: 2px solid #17d0cf;
        padding: 15px 35px; }
        .slider-area .single-slider .slider-content a i {
          color: #17d0cf; }
  .slider-area .owl-nav button.owl-next {
    right: 0; }
  .slider-area .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center; }
    .slider-area .owl-dots button.owl-dot {
      background: #575757;
      width: 4px;
      height: 20px;
      margin-right: 15px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border-radius: 5px; }
      .slider-area .owl-dots button.owl-dot.active {
        height: 40px;
        position: relative;
        bottom: 10px;
        background: #ffffff; }
