@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333; }

.header-area .menu-area nav ul li:hover, .popular-course-area .popular-init .popular-img span {
  background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
  background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%); }

.slider-area .single-slider .slider-content p, .search-area .search-title p, .popular-course-area .popular-section p {
  color: #cccccc;
  letter-spacing: 7px;
  position: relative;
  margin: 0; }

.slider-area .single-slider .slider-content p::after, .search-area .search-title p::after, .popular-course-area .popular-section p::after {
  position: absolute;
  content: '.';
  color: #17d0cf;
  font-size: 70px;
  line-height: 0;
  top: -11px;
  text-shadow: 15px 0 #17d0cf; }

.slider-area .single-slider .slider-content p::before, .search-area .search-title p::before, .popular-course-area .popular-section p::before {
  position: absolute;
  content: '.';
  color: #17d0cf;
  font-size: 70px;
  line-height: 0;
  top: -11px;
  left: -40px;
  text-shadow: 15px 0 #17d0cf; }

.slider-area .single-slider .slider-content h2, .search-area .search-title h2, .popular-course-area .popular-section h2 {
  font-size: 55px;
  font-weight: 100; }

.slider-area .owl-nav button, .popular-course-area .owl-nav button {
  position: absolute;
  top: 50%;
  font-size: 22px !important;
  width: 60px;
  height: 60px;
  background: #f7f7f7 !important;
  color: #777777 !important;
  border-radius: 5px;
  margin: 0 50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.search-area .search form button {
  padding: 20px 35px;
  background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
  background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  color: #ffffff;
  background-size: 200% auto;
  text-transform: uppercase;
  font-weight: 700; }

.search-area .search-content .search-icon i {
  background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
  background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  background-clip: text;
  color: transparent; }

/* Header Area Start */
.header-area {
  position: relative;
  z-index: 9999;
  margin-top: 45px; }
  .header-area .logo-area img {
    width: 100%; }
  .header-area .lang {
    color: #17d0cf;
    float: left;
    padding-left: 35px;
    padding-top: 10px; }
  .header-area .menu-area {
    margin-top: 2px; }
    .header-area .menu-area nav ul {
      margin: 0;
      padding: 0;
      float: right; }
      .header-area .menu-area nav ul li {
        list-style: none;
        display: inline-block;
        -webkit-transition: 3s;
        -o-transition: 3s;
        transition: 3s;
        padding: 7px 15px;
        border-radius: 5px;
        position: relative; }
        .header-area .menu-area nav ul li a {
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase; }
        .header-area .menu-area nav ul li ul.sub-menu {
          position: absolute;
          width: 300px;
          background: #fff;
          padding: 30px;
          left: -100px;
          top: 35px;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          -webkit-transform: scaleY(0);
          -ms-transform: scaleY(0);
          transform: scaleY(0);
          display: table;
          -webkit-transform-origin: center top 0;
          -ms-transform-origin: center top 0;
          transform-origin: center top 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .header-area .menu-area nav ul li ul.sub-menu::before {
            position: absolute;
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #01a6fd;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 20px; }
          .header-area .menu-area nav ul li ul.sub-menu li {
            display: block;
            text-align: left;
            border-bottom: 1px solid #eeeeee; }
            .header-area .menu-area nav ul li ul.sub-menu li:last-child {
              border: none; }
            .header-area .menu-area nav ul li ul.sub-menu li:hover {
              background: transparent; }
            .header-area .menu-area nav ul li ul.sub-menu li a {
              color: #333333;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              .header-area .menu-area nav ul li ul.sub-menu li a:hover {
                color: #17d0cf; }
        .header-area .menu-area nav ul li:hover {
          background-size: 200% auto; }
          .header-area .menu-area nav ul li:hover ul.sub-menu {
            opacity: 1;
            visibility: visible;
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1); }
  .header-area .login-area {
    padding: 7px 0;
    margin-top: 2px; }
    .header-area .login-area a {
      color: #fff;
      font-size: 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500; }
  .header-area .cart-search {
    margin-top: 4px; }
    .header-area .cart-search ul {
      margin: 0;
      padding: 0; }
      .header-area .cart-search ul li {
        list-style: none;
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 28px;
        text-align: center;
        border: 2px solid #17d0cf;
        border-radius: 50%;
        margin-right: 10px; }
        .header-area .cart-search ul li a {
          color: #fff; }

/*==================== Slider Area ===================*/
.slider-area {
  position: relative;
  top: -90px;
  width: 100%; }
  .slider-area .single-slider {
    position: relative; }
    .slider-area .single-slider .slider-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0; }
      .slider-area .single-slider .slider-content p {
        display: inline-block; }
      .slider-area .single-slider .slider-content h2 {
        color: #ffffff;
        font-size: 90px; }
        .slider-area .single-slider .slider-content h2 span {
          font-weight: 700; }
      .slider-area .single-slider .slider-content a {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        border: 2px solid #17d0cf;
        padding: 15px 35px; }
        .slider-area .single-slider .slider-content a i {
          color: #17d0cf; }
  .slider-area .owl-nav button.owl-next {
    right: 0; }
  .slider-area .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center; }
    .slider-area .owl-dots button.owl-dot {
      background: #575757;
      width: 4px;
      height: 20px;
      margin-right: 15px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border-radius: 5px; }
      .slider-area .owl-dots button.owl-dot.active {
        height: 40px;
        position: relative;
        bottom: 10px;
        background: #ffffff; }

/*=============== Slider ENd ===============*/
/*=============== Search Area Start ===============*/
.search-area .search-title p {
  display: inline-block; }

.search-area .search-title h2 span {
  font-weight: 700; }

.search-area .search {
  margin-top: 15px;
  margin-bottom: 35px; }
  .search-area .search form {
    position: relative; }
    .search-area .search form input {
      width: 100%;
      padding: 20px 25px;
      background: #f9f9f9;
      border: none;
      border-radius: 5px; }
    .search-area .search form button {
      border: none;
      position: absolute;
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .search-area .search form button:hover {
        background-position: 190px; }

.search-area .search-content .search-icon {
  font-size: 38px;
  float: left;
  margin-right: 15px;
  border-right: 1px solid #989898;
  height: 45px;
  width: 60px;
  text-align: center;
  line-height: 40px; }

.search-area .search-content h3 {
  margin: 0;
  font-size: 30px;
  line-height: 0.9;
  font-weight: 700; }

.search-area .search-content span {
  font-size: 14px;
  font-weight: 700;
  color: #989898;
  margin-bottom: 15px;
  display: block; }

/*=============== Search Area End ===============*/
/*=============== Popular Post Area Start ===============*/
.popular-course-area {
  padding-top: 75px;
  padding-bottom: 100px;
  position: relative; }
  .popular-course-area .popular-section p {
    margin-left: 40px; }
  .popular-course-area .popular-section h2 span {
    font-weight: 700; }
  .popular-course-area .popular-init .popular-img {
    position: relative;
    margin-top: 15px;
    margin-bottom: 23px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .popular-course-area .popular-init .popular-img img {
      width: 100%; }
    .popular-course-area .popular-init .popular-img span {
      font-weight: 700;
      padding: 5px 15px;
      display: inline-block;
      border-radius: 5px;
      background-size: 200% auto;
      color: #fff;
      position: absolute;
      top: 20px;
      left: 20px; }
    .popular-course-area .popular-init .popular-img a {
      color: #ffffff;
      position: absolute;
      top: 25px;
      right: 0;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .popular-course-area .popular-init .popular-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .popular-course-area .popular-init .popular-meta .popular-cata a {
      text-decoration: none;
      color: #17d0cf;
      font-size: 14px;
      font-weight: 700;
      margin-right: 30px; }
    .popular-course-area .popular-init .popular-meta .popular-author {
      position: relative;
      margin-right: 30px; }
      .popular-course-area .popular-init .popular-meta .popular-author span {
        font-size: 14px;
        font-weight: 700; }
      .popular-course-area .popular-init .popular-meta .popular-author::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 15px;
        left: -15px;
        background: #d0d0d0;
        top: 5px; }
    .popular-course-area .popular-init .popular-meta .popular-review ul {
      margin: 0;
      padding: 0; }
      .popular-course-area .popular-init .popular-meta .popular-review ul li {
        list-style: none;
        float: left;
        margin-right: 2px;
        font-size: 14px;
        color: #ffc926; }
  .popular-course-area .popular-init .popular-title {
    padding-top: 12px; }
    .popular-course-area .popular-init .popular-title h3 a {
      font-size: 22px;
      line-height: 1.4;
      font-weight: 500;
      color: #333;
      text-decoration: none; }
      .popular-course-area .popular-init .popular-title h3 a span {
        font-size: 11px;
        font-weight: 700;
        background: #ff5c26;
        padding: 5px 10px;
        color: #fff;
        border-radius: 4px;
        line-height: 1.2;
        position: relative;
        bottom: 7px; }
    .popular-course-area .popular-init .popular-title hr {
      height: 2px;
      width: 50px;
      background: #17d0cf;
      margin-left: 0;
      margin-top: 25px; }
  .popular-course-area .popular-init .popular-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .popular-course-area .popular-init .popular-view ul {
      margin: 0;
      padding: 0; }
      .popular-course-area .popular-init .popular-view ul li {
        list-style: none;
        float: left;
        color: #989898;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 3px;
        background-color: #f7f7f7;
        margin-right: 5px;
        margin-top: 10px;
        font-weight: 700; }
  .popular-course-area .popular-init:hover .popular-img a {
    opacity: 1;
    visibility: visible;
    right: 20px; }
  .popular-course-area .owl-nav button {
    top: -45px;
    margin: 0; }
    .popular-course-area .owl-nav button.owl-prev {
      left: 89%; }
    .popular-course-area .owl-nav button.owl-next {
      right: 0; }

/*=============== Popular Post Area End ===============*/
