/*=============== Footer Area Start ===============*/
footer{
    .footer-top{
        padding-top: 100px; 
        .footer-content{
            p{
                font-size: 17px;
                padding-top: 35px;
                margin-bottom: 35px;
            }
            span{
                font-size: 17px;
                margin-bottom: 35px;
                display: block;
            }
        }
        .footer-link{
            h2{
                @extend %title-h;
                font-size: 25px;
                font-weight: 700;
            }
            hr{
                @extend %hr;
            }
            .useful-link{
                float: left;
                margin-right: 70px;
            }
            .account-info{overflow: hidden;}
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                a{
                    color: #333333;
                    text-decoration: none;
                    padding-bottom: 5px;
                    display: block;
                    i{
                        color: $theme-color;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
/*=============== Footer Area End ===============*/