/*=============== Footer Area Start ===============*/
footer{
    .footer-top{
        padding-top: 100px; 
        .footer-content{
            p{
                font-size: 17px;
                padding-top: 35px;
                margin-bottom: 35px;
            }
            span{
                font-size: 17px;
                margin-bottom: 35px;
                display: block;
            }
        }
        .footer-link{
            h2{
                @extend %title-h;
                font-size: 25px;
                font-weight: 700;
            }
            hr{
                @extend %hr;
            }
            .useful-link{
                float: left;
                margin-right: 70px;
            }
            .account-info{overflow: hidden;}
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                a{
                    color: #333333;
                    text-decoration: none;
                    padding-bottom: 5px;
                    display: block;
                    i{
                        color: $theme-color;
                        margin-right: 5px;
                    }
                }
            }
        }
        .footer-gallery{
            h4{
                @extend %title-h;
                font-size: 25px;
                font-weight: 700;
            }
            hr{
                @extend %hr;
            }
            .photo-items{
                ul{
                    li{
                        display: inline-block;
                        margin-bottom: 5px;
                        position: relative;

                        &::before{
                            position: absolute;
                            content: '\f002';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $theme-color;
                            z-index: 1;
                            transition: .3s;
                            opacity: 0;
                            visibility: hidden;
                            cursor: pointer;
                        }
                        &:after{
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background: #333333;
                            left: 0;
                            opacity: 0;
                            transition: .3s;
                            visibility: hidden;
                        }
                        &:hover{
                            &::before{
                                opacity: 1;
                                visibility: visible;
                            }
                            &::after{
                                opacity: 0.7;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-middle{
        
        .footer-social{
            h4{
                @extend %title-h;
                font-size: 25px;
                font-weight: 700;
            }
            hr{
                @extend %hr;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    border: 2px solid $theme-color;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    border-radius: 50%;
                    margin-right: 3px;
                    a{
                        text-decoration: none;
                        color: #666666;
                    }   
                }
            }
        }
        .newsletter{
            h4{
                @extend %title-h;
                font-size: 25px;
                font-weight: 700;
            }
            hr{
                @extend %hr;
            }
            form{
                position: relative;
                input{
                    width: 100%;
                    height: 60px;
                    background: #f9f9f9;
                    border-radius: 5px;
                    border: none;
                    padding: 20px;
                    font-weight: 500;
                }
                a{
                    position: absolute;
                    top: 0;
                    right: 0;
                    @extend %button;
                    padding: 17px 30px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .border{
            border-bottom: 1px solid #eeeeee;
            margin-top: 65px;
        }
    }
    .footer-bottom{
        padding: 45px 0;
        .copyright{
            span{
                color: #cccccc;
            }
        }
        .footer-menu{
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    margin-left: 20px;
                    a{
                        color: #cccccc;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
/*=============== Footer Area End ===============*/