/* Header Area Start */
.header-area{
    position: relative;
    z-index: 9999;
    margin-top: 45px;
    .logo-area{
        img{
            width: 100%;
        }
    }
    .lang{
        color: $theme-color;
        float: left;
        padding-left: 35px;
        padding-top: 10px;
        @media #{$lg} {
            padding-left: 0;
        }
        @media #{$md} {
            padding-left: 0;
        }
    }
    .menu-area{
        margin-top: 2px;
        nav{
            ul{
                margin: 0;
                padding: 0;
                float: right;
                li{
                    list-style: none;
                    display: inline-block;
                    transition: 3s;
                    padding: 7px 15px;
                    border-radius: 5px;
                    position: relative;
                    @media #{$lg} {
                        padding: 7px 10px;
                    }
                    @media #{$md} {
                        padding: 7px 5px;
                    } 
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 15px;
                        text-transform: uppercase;                        
                    }
                    ul.sub-menu{
                        position: absolute;
                        width: 300px;
                        background: #fff;
                        padding: 30px;
                        left: -100px;
                        top: 35px;
                        border-radius: 4px;
                        opacity: 0;
                        visibility: hidden;
                        transform: scaleY(0);
                        display: table;
                        transform-origin: center top 0;
                        transition: .3s;
                        &::before{
                            position: absolute;
                            content: '';
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid #01a6fd;
                            top: 0;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            width: 20px;
                        }
                        li{
                            display: block;
                            text-align: left;
                            border-bottom: 1px solid #eeeeee;
                            &:last-child{
                                border: none;
                            }
                            &:hover{
                                background: transparent;
                            }
                            a{
                                color: #333333;
                                transition: .3s;
                                &:hover{
                                    color: $theme-color;
                                }
                            }
                        }
                    }
                    &:hover {
                        @extend %theme-gradient;
                        background-size: 200% auto;
                        ul.sub-menu{
                            opacity: 1;
                            visibility: visible;
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
    }
    .login-area{
        padding: 7px 0;
        margin-top: 2px;
        a{
            color: #fff;
            font-size: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    .cart-search{
        margin-top: 4px;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                display: inline-block;
                width: 35px;
                height: 35px;
                line-height: 28px;
                text-align: center;
                border: 2px solid $theme-color;
                border-radius: 50%;
                margin-right: 10px;  
                @media #{$lg}{
                    margin-right: 0;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}