/* Header Area Start */
.header-area{
    margin-top: 45px;
    background: #000;
    .logo-area{
        img{
            width: 100%;
        }
    }
    .lang{
        color: $theme-color;
        float: left;
        padding-left: 35px;
        padding-top: 10px;
    }
    .menu-area{
        margin-top: 2px;
        nav{
            ul{
                margin: 0;
                padding: 0;
                float: right;
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 7px 15px;
                    transition: 3s;
                    border-radius: 5px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 15px;
                        text-transform: uppercase;
                        transition: .3s;
                    }
                    &:hover {
                        @extend %theme-gradient;
                        background-size: 200% auto;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .login-area{
        color: #fff;
        font-weight: 700;
        font-size: 15px;
        padding: 7px 0;
        margin-top: 2px;
    }
    .cart-search{
        margin-top: 4px;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                display: inline-block;
                width: 35px;
                height: 35px;
                line-height: 28px;
                text-align: center;
                border: 2px solid $theme-color;
                border-radius: 50%;
                margin-right: 10px;  
                a{
                    color: #fff;

                }
            }
        }
    }
}