/*=============== Search Area Start ===============*/
.search-area{
    .search-title{
        p{
            @extend %section-title;
            display: inline-block;
            &::after {
                @extend %title-after;
            }

            &::before {
                @extend %title-before;
            }
        }
        h2{
            @extend %title-h;
            span{
                font-weight: 700;
            }
        }
    }
    .search{
        margin-top: 15px;
        margin-bottom: 35px;
        form{
            position: relative;
            input{
                width: 100%;
                padding: 20px 25px;
                background: #f9f9f9;
                border: none;
                border-radius: 5px;
            }
            a{
                border: none;
                @extend %button;
                padding: 20px 30px;
                position: absolute;
                right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                transition: .3s;
                &:hover{
                    background-position: 190px;
                    color: #fff;
                }
            }
        }
    }
    .search-content{
        .search-icon{
            font-size: 38px;
            float: left;
            margin-right: 15px;
            border-right: 1px solid #989898;
            height: 45px;
            width: 60px;
            text-align: center;
            line-height: 40px;
            i{
                @extend %text-gradiant;
            }
        }
        h3 {
            margin: 0;
            font-size: 30px;
            line-height: 0.9;
            font-weight: 700;
        }
        span{
            font-size: 14px;
            font-weight: 700;
            color: #989898;
            margin-bottom: 15px;
            display: block;
        }
    }
}
/*=============== Search Area End ===============*/