/*==================== Slider Area ===================*/
.slider-area{
    position: relative;
    top: -90px;
    width: 100%;
    .single-slider{
        position: relative;
        .slider-content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            p{
                display: inline-block;
                @extend %section-title;
                &::after{
                    @extend %title-after;
                }
                &::before{
                    @extend %title-before;
                }
            }
            h2{
                @extend %title-h;
                color: #ffffff;
                font-size: 90px;
                span{
                    font-weight: 700;
                }
            }
            a{
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 700;
                border: 2px solid $theme-color;
                padding: 15px 35px;
                i{
                    color: $theme-color;
                }
            }
        }
    }
    .owl-nav{
        button{
            @extend %owl-nav-button;
            &.owl-next{
                right: 0;
            }
        }
    }
    .owl-dots{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        button{
            &.owl-dot{
                background: #575757;
                width: 4px;
                height: 20px;
                margin-right: 15px;
                transition: .3s;
                border-radius: 5px;
                &.active {
                    height: 40px;
                    position: relative;
                    bottom: 10px;
                    background: #ffffff;
                }
            }
            
        }
    }
}
/*=============== Slider ENd ===============*/