/*============== Testimonial Area Start ================*/
.testimonials-area{
    padding-top: 45px;
    position: relative;
    .testimonials-section{
        h3{
            @extend %title-h;
            color: #fff;
            span{
                font-weight: 700;
            }
        }
        hr{
            width: 50px;
            height: 2px;
            background: $theme-color;
            margin-left: 0;
            margin-bottom: 30px;
        }
    }
    .single-testimonial{
        border: 2px solid #3581b4;
        border-radius: 5px;
        padding: 35px;
        color: #fff;
        position: relative;
        margin-bottom: 30px;
        p{
            line-height: 1.5;
            font-weight: 300;
            font-style: italic;
            span{
                font-weight: 700;
            }
        }
        .testimonial-auton{
            float: left;
            color: $theme-color;
            font-size: 13px;
            font-weight: 700;
            margin-right: 25px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                width: 1px;
                height: 12px;
                right: -14px;
                top: 5px;
                background: $theme-color;
            }
        }   
        .testimonial-cata{
            overflow: hidden;
            font-size: 13px;
            color: $theme-color;
        }
        &:after{
            position: absolute;
            content: '\f10d';
            font-weight: 900;
            font-family: 'Font Awesome 5 Free';
            color: #3080b6;
            font-size: 40px;
            right: 35px;
            padding: 5px 20px;
            bottom: -30px;
            background-color: #125693;
        }
    }
    .owl-nav{
        button{
            @extend %owl-nav-button;
            margin: 0;
            top: -60px;
            background: #3080b6 !important;
            color: #fff !important;
            &.owl-prev{
                left: 89%;
            }
            &.owl-next{
                right: 0;
            }
        }
    }
}
/*============== Testimonial Area Start ================*/