/* Color */
$theme-color: #17d0cf; 

%theme-gradient{
    background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
}
%section-title{
    color: #cccccc;
    letter-spacing: 7px;
    position: relative;
    margin: 0;
    display: inline-block;
}
%title-after{
    position: absolute;
    content: '.';
    color: $theme-color;
    font-size: 70px;
    line-height: 0;
    top: -11px;
    text-shadow: 15px 0 $theme-color;
}
%title-before{
    position: absolute;
    content: '.';
    color: $theme-color;
    font-size: 70px;
    line-height: 0;
    top: -11px;
    left: -40px;
    text-shadow: 15px 0 $theme-color;
}
%title-h{
    font-size: 55px;
    font-weight: 300;
}
%owl-nav-button{
    position: absolute;
    top: 50%;
    font-size: 22px !important;
    width: 60px;
    height: 60px;
    background: #f7f7f7 !important;
    color: #777777 !important;
    border-radius: 5px;
    margin: 0 50px;
    transform: translateY(-50%);
}
%button{
    padding: 12px 30px;
    background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    color: #ffffff;
    background-size: 200% auto;
    text-transform: uppercase;
    font-weight: 700;
}
%text-gradiant{
    background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
%hr{
    width: 50px;
    height: 2px;
    background: $theme-color;
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 18px;
}
// Color

// Responsive Variables
$laptop-lg: 'only screen and (min-width: 1330px) and (max-width: 1450px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1450px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$mobile: '(max-width: 575px)';