$theme-color: #17d0cf;
%theme-gradient{
    background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
}
%section-title{
    color: #cccccc;
    letter-spacing: 7px;
    position: relative;
    margin: 0;
}
%title-after{
    position: absolute;
    content: '.';
    color: $theme-color;
    font-size: 70px;
    line-height: 0;
    top: -11px;
    text-shadow: 15px 0 $theme-color;
}
%title-before{
    position: absolute;
    content: '.';
    color: $theme-color;
    font-size: 70px;
    line-height: 0;
    top: -11px;
    left: -40px;
    text-shadow: 15px 0 $theme-color;
}
%title-h{
    font-size: 55px;
    font-weight: 100;
}
%owl-nav-button{
    position: absolute;
    top: 50%;
    font-size: 22px !important;
    width: 60px;
    height: 60px;
    background: #f7f7f7 !important;
    color: #777777 !important;
    border-radius: 5px;
    margin: 0 50px;
    transform: translateY(-50%);
}
%button{
    padding: 20px 35px;
    background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    color: #ffffff;
    background-size: 200% auto;
    text-transform: uppercase;
    font-weight: 700;
}
%text-gradiant{
    background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
}