@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.4;
}
.mt-30{
    margin-top: 30px;
}
@import 'variables';
@import 'header';
@import 'slider';
@import 'search';
@import 'popular-courses';
@import 'about';
@import 'why-choose';
@import 'testimonials';
@import 'blog';
@import 'sponsors';
@import 'course';
@import 'teachers';
@import 'products';
@import 'faq';
@import 'category';
@import 'contact';
@import 'footer';